@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Fjalla One', sans-serif;

}
nav ul{
    display: flex;
    align-items: center ;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 15px;
}
.brand img{
    width: 45px;
    padding: 0 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4em; 
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Skranji', cursive;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(back2.jpg);
    background-size: cover;
}
.songItem{
    height: 35px;
    display: flex;
    background-color: white;
    color:black;
    margin:10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    
}
.songItemContainer{
    margin-top:50px;

}
.songItem img{
    width: 40px;
    margin:0 23px;
    border-radius: 32px;

}
.timeStamp{
    margin: 0 23px;
}
.timeStamp i{
    cursor: pointer;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons{
    margin-top: 10px;
    cursor: pointer;
}
#songProgressBar{
    width: 80vw;
    cursor: pointer;

}
.songInfo{
    position: absolute;
    left: 10vw; 
    font-family: 'Skranji', cursive;   
}
.songInfo img{
    opacity: 0;    
    transition: opacity 1s ease-in;
}